/*.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #0b061f;
  padding: 20px 40px;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image {
  font-weight: bold;
  color: black;
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.email {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:hover {
  color: #e1730a;
}

.hire-button button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(135deg, #e1730a, #ff9900);
  color: rgb(15, 15, 15);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hire-button button:hover {
  transform: scale(1.05);
  background-color: #d46a08; /* Slightly darker on hover 
}*/
/* src/components/Header.css */
.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: transparent;
  padding: 20px 60px;
  color: white;
}
.logo {
  font-size: 1.5rem;
}
.logo-image{
      width: 40px!important;
    border-radius: 100px;
}
.highlight {
  color: #f77116;
}
.nav{
  width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.contact-number {
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.phone-image{
width: 20px;
margin: 0px 10px;
}